body {
  width: 100vw;
  height: 100vh;
  color: rgb(228, 227, 227);
  padding-top: 200px;
  background-color: azure;
}

main {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #104b7f;
  border: 2px solid rgb(213, 63, 47);
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio input {
  padding: 8px;
  border-radius: 8px;
}

button {
  background-color: rgb(239, 155, 95);
  width: 60px;
  height: 30px;
  border-radius: 8px;
}

.no-es-belen {
  display: none;
}

.si-es-belen {
  display: none;
}

.si-es-belen button {
  width: 80px;
}

.invitacion {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #104b7f;
  background-image: url('../image.png'); 
  background-size: contain;
  background-position: center;
  animation: fadeInBg 5s infinite ease-in-out forwards alternate;
}

.invitacion img {
  width: 100%;
  width: 100%;
}

.div-absolute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.div-absolute1 {
  animation: fadeInText 10s infinite ease-in-out forwards alternate;
}

.div-absolute2 {
  animation: fadeInText 10s infinite ease-in-out forwards alternate-reverse;
}

.div-absolute img {
  width: 100px;
  height: 100px;
}

.fade-in-image {
  opacity: 0;
  animation: fadeInImage 5s infinite ease-in-out forwards alternate;
}

#belen-parrafo {
  font-size: 20px;
  text-align: center;
}

.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  position: absolute;
  animation: beating 2s ease infinite;
}
.love1, .love3 {
  left: -26px;
}
.love2, .love4 {
  right: -26px;
}

.love1, .love2 {
  top: -20px;
}

.love3, .love4 {
  bottom: -20px;
}

.love:before,
.love:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.love:before {
  top: 0;
  left: -25px;
}

.love:after {
  top: -25px;
}


.animated-bg {
  width: 100%;
  height: 100vh;

}

@keyframes fadeInBg {
  0% {
      background-color: #3498db; 
      background-image: none;
  }
  50% {
      background-color: #3498db; 
      background-image: none; 
  }
  100% {
      background-color: transparent; 
      background-image: url('../image.png');
  }
}

@keyframes fadeInImage {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
      display: none;
      opacity: 0;
  }
  50% {
      display: flex;
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes beating {
  0% {
  	transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(2);
  }
  100% {
  	transform: rotate(45deg) scale(1);
  }
}
